absl-py
asgiref
astunparse
cached-property
cachetools
certifi
chardet
click
Django
filelock
fire
flatbuffers
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
huggingface-hub
idna
importlib-metadata
joblib
keras-nightly
Keras-Preprocessing
keras2onnx
Markdown
numpy
oauthlib
onnx
onnxconverter-common
opt-einsum
packaging
protobuf
pyasn1
pyasn1-modules
pyparsing
python-decouple>=3.1
pytz
PyYAML
regex
requests
requests-oauthlib
rsa
sacremoses
six
sqlparse
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow-cpu
tensorflow-estimator
termcolor
tokenizers
tqdm
transformers
typing-extensions
urllib3
Werkzeug
wrapt
zipp